@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    overflow-x: hidden;
    overflow-y: hidden;
    
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;

    background-image: url(assets/cover.png);
    background-size: cover;
}

#header {
    width: 100%;

    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------- */

/* Div dos Botões */

#botoes {
    width: 40%;
    height: 35vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* -------------------------------------------------- */

/* Configurações dos Botões */

.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn {
    height: 60px;
    
    margin: 1vh;
    
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #262626;
    color: white;
    transition-duration: 0.3s;
}

/* -------------------------------------------------- */

/* Animação de Entrada dos Botões */

@keyframes entrada {
    0% {
        left: -100vh;
        opacity: 0;
    }
    50% {
        left: -50vh;
        opacity: 0.5;
    }
    100% {
        left : 0;
        opacity: 1;
    }
}

#link-linkedin {
    position: relative;
    animation: entrada 0.5s linear;
}

#link-github {
    position: relative;
    animation: entrada 0.75s linear;
}

#link-curriculo {
    position: relative;
    animation: entrada 1s linear;
}

/* -------------------------------------------------- */

/* Hover dos Botões */

#btn-linkedin:hover {
    transform: scale(1.05);
    background-color: #174E6D;
}

#btn-github:hover {
    transform: scale(1.05);
    background-color: #D6382F;
}

#btn-curriculo:hover {
    transform: scale(1.05);
    background-color: #3F994B;
}

/* -------------------------------------------------- */

/* Titulo */

#titulo {
    width: 40%;
}

.h1-texto {
    font-weight: bold;
    font-size: 12.5vh;
    line-height: 0.5;
    
    color: #fff;
    text-shadow: 3.5px 3.5px #174e6d;
}

/* -------------------------------------------------- */

/* ----- MOBILE ----- */

@media screen and (max-width: 450px) {
    body {
        display: flex;
        align-items: flex-start;

        transform: scale(0.9);
    }

    #header {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #titulo {
        width: 100%;
    }

    .h1-texto {
        font-size: 8vh;
    }

    #botoes {
        width: 80%;
        height: 20vh;

        margin-top: 5vh;

        display: grid;
        grid-template-areas: 
        'btn1 btn2'
        'btn3 btn3'
        ;
    }

    #link-linkedin {
        grid-area: btn1;
    }

    #link-github {
        grid-area: btn2;
    }

    #link-curriculo {
        grid-area: btn3;
    }
}
